:root{
  --main: #FFBDBD;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Form styling */
body{
  background-color: #edece8
}

.main-container{
  height: 640px;
  width: 360px;
  /* border: 2px solid black; */
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
}
.logo-container{
  height: 174px;
}
.logo-box{
  position: absolute;
  left: 47%;
  top: 15%;
  transform: translate(-50%, -50%);
  display: flex;
}
.logo{
  display: flex;
  flex-direction: column;
  width: 42%;
}
.logo-dwn{
  margin-top: -5px;
}
.star{
 display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 3px;
    position: relative;
}

.logo-text{
 
    display: -webkit-box;
    position: relative;
    bottom: -9px;
}
.main-form{
  display: flex ;
  flex-direction: column;
  margin-left: 39px;
  margin-right: 32px;
}
.form-text{
  /* font-family: Aileron; */
  font-weight: 700;
  color: #63B4FC;
  text-align: left;
  /* padding-bottom: 16px; */
  margin: 0;
  top: 8px;
  font-size: 18px;
  position: relative;
}
.form-text-for-language{
  padding-bottom: 23px;
}
.inner-container{
  display: flex;
  flex-direction: column;
}
.inner-container:not(:first-child){
  padding-top: 10px;
}

.error{
  display: flex;
  margin: 0;
  align-self: flex-end;
  font-size: 12px;
  color: var(--main);
  font-weight: 600;
  padding-right: 14px;
    padding-bottom: 2px;
}
.else{
  height:19.57px;
}
.inner-container input, .select{
  margin-left: -7px;
  border: 1px solid var(--main);
box-sizing: border-box;
border-radius: 22px;  
  width: 296px;
  height: 48px;
  color: var(--main);
  font-size: 14px;
  font-weight: 600;
  padding-left: 24px;
}
.select{
  appearance: none;
}


::placeholder {
  color: var(--main);
}
input:focus, textarea:focus, select:focus, .select, .btn:focus{
  outline: none;
  box-shadow: none;
  background-color: none;
}
.btn:hover{
  color:var(--main);
  text-decoration: none;
}
.show{
  width: 103%;
  border-radius: 22px;
  color: rgb(255, 189, 189);
  border: 1px solid;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}
.fa{
  position: relative;
  right: -190px;
}
.dropdown-menu{
  position: relative;
  top: 37px;
  border: 1px solid var(--main);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top: none;
  /* z-index: -1000; */
  appearance: none;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  height: 240%;
  transform: translate3d(-7px, 32px, 0px) !important;
}

.dropdown-menu li:hover{
  color: --var(main);
  /* background-color: black; */
}
.btn{
  text-align: left;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item{
  font-weight: 600;
  color: var(--main);
  padding-left: 1px;
  font-size: 14px;
  width: 232px;
  margin-left: 23px;
  border-bottom: 1px solid #a1a1a1;
}
.first-option{
  border-top: 1px solid #a1a1a1 ;
}
.bg-transparent{
  border-radius: 0px;
}
.login-btn{
  margin-top: 33px;
  width: 152px;
  height: 40px;
  background-color: #63B4FC;
  border-radius: 22px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
